@{
    ViewBag.Title = "Sil";

}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="panel panel-warning">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="background-color:#ff6a00;text-align:center;color:#000000">Merkez </div>
                    <div class="panel-heading" style="background-color:#ff6a00;color:#000000">>>>> SİLME İŞLEMİ </div>
                    <div class="panel-body" style="color:#000000">
                        @ViewBag.silindi
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>